---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

$grid-breakpoints: (
        xs: 0,
        sm: 480px,
        md: 768px,
        lg: 1024px
);

$container-max-widths: (
        sm: 360px,
        md: 720px,
        lg: 960px
);